In [1]:
import sqlite3
import pandas as pd

## La oss ta en kikk på databasen

In [4]:
conn = sqlite3.connect("data.db")
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [t[0] for t in cursor.fetchall()]
print('Databasen inneholder følgende tabeller:')
for t in tables:
    print('\t{}'.format(t))

Databasen inneholder følgende tabeller:
	actors
	survey
	hits

In [8]:
print('Tabellene innholder følgende kolonner:')
for t in tables:
    df = pd.read_sql_query('select * from {} limit 1'.format(t), conn)
    print('{}:\n\t{}\n'.format(t, list(df.columns)))

Tabellene innholder følgende kolonner:
actors:
	['age', 'gender', 'education', 'game', 'computer', 'eye', 'nickname', 'position', 'start', 'starttxt', 'end', 'endtxt', 'crowd', 'startexp0', 'startexp1', 'startexp2', 'endexp0', 'endexp1', 'endexp2', 'tothitsexp0', 'tothitsexp1', 'tothitsexp2', 'keydowns0', 'keydowns1', 'keydowns2', 'tothits', 'valid']

survey:
	['actor', 'experiment', 'mental', 'physical', 'temporal', 'effort', 'performance', 'frustration', 'delay', 'time', 'valid']

hits:
	['actor', 'experiment', 'button', 'time', 'valid']

- "actors" innheolder informasjon på hver deltaker i testen, dvs demografi, når hvert eksperiment startet og hvordan personen gjorde det i hvert eksperiment, det finnes dermed en rad for hver deltaker (N rader). Deltakerens unike id er lagret som "rowid" i tabellen, og samsvarer med "actor" i de andre tabellene
- "survey" inneholder undersøkelsene som hver deltaker gjorde for hvert eksperiment, dermed er det N*3 rader i den tabellen
- "hits" er en tabell som har lagret alle treff gjort i underøkelsen, hvilken deltaker som gjorde den, hvilken eksperiment og knapp som ble trykket og når det skjedde. Her er det mange rader.

## Trekke ut informasjon fra en deltaker

La oss si at vi ønsker å trekke ut info for en konkret deltaker, la oss si nr 10

In [15]:
pd.read_sql_query('select * from actors where rowid = 10', conn)

,age,gender,education,game,computer,eye,nickname,position,start,starttxt,...,endexp1,endexp2,tothitsexp0,tothitsexp1,tothitsexp2,keydowns0,keydowns1,keydowns2,tothits,valid
0,23,1,4,2,0,0,katt97,7,1.525734e+09,2018-05-07 23:03,...,1.525734e+09,1.525735e+09,6,5,11,87,98,189,22,1

In [21]:
pd.read_sql_query('select * from survey where actor = 10', conn)

,actor,experiment,mental,physical,temporal,effort,performance,frustration,delay,time,valid
0,10,1,6,0,3,4,3,5,300,1.525735e+09,1
1,10,2,3,0,4,3,5,2,100,1.525735e+09,1
2,10,0,5,0,4,4,4,5,500,1.525735e+09,1

In [22]:
pd.read_sql_query('select * from hits where actor = 10', conn)

    actor  experiment  button          time  valid
0      10           1       0  1.525734e+09      1
1      10           1       1  1.525734e+09      1
2      10           1       0  1.525734e+09      1
3      10           1       1  1.525734e+09      1
4      10           1       0  1.525734e+09      1
5      10           2       0  1.525735e+09      1
6      10           2       1  1.525735e+09      1
7      10           2       0  1.525735e+09      1
8      10           2       2  1.525735e+09      1
9      10           2       0  1.525735e+09      1
10     10           2       2  1.525735e+09      1
11     10           2       0  1.525735e+09      1
12     10           2       1  1.525735e+09      1
13     10           2       2  1.525735e+09      1
14     10           2       1  1.525735e+09      1
15     10           2       2  1.525735e+09      1
16     10           0       1  1.525735e+09      1
17     10           0       0  1.525735e+09      1
18     10           0       2  1.525735e+09      1
19     10           0       1  1.525735e+09      1
20     10           0       2  1.525735e+09      1
21     10           0       1  1.525735e+09      1